<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron text-center">
        <h3>Accounts App</h3>
        <a href="/" class="btn btn-sm btn-primary">Accounts</a>
        <a href="/add" class="btn btn-sm btn-info">Add account</a>
        <a href="/edit" class="btn btn-sm btn-warning">Edit/delete</a>
    </div>